<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add name="Library_Management_System.Properties.Settings.Library_projectConnectionString1"
		   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\db\lb.mdf;Integrated Security=True;Connect Timeout=30"
		   providerName="System.Data.SqlClient" />
</configuration>